body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    padding: 0px 50px;
height: 600px;
}




header {
    text-align: center;
    padding-top: 20px;


}

img {
    border-radius: 100%;
    border: 5px solid rgba(0, 0, 0, 0.050);
    width: 150px;
    height: 150px;

}

h1, h2, div {
    color: darkorange;
}

div p {
    text-align: justify;
    width: 580px;
    color: rgb(255, 218, 115);
}
